<footer id="siteFooter">
      <div class="siteFooter__content">
        <ul class="siteFooter__link">
          <li><a href="">ひとときパスについて</a></li>
          <li><a href="">お問い合わせ</a></li>
          <li><a href="">利用規約</a></li>
          <li><a href="">プライバシーポリシー</a></li>
          <li><a href="">各施設様へ</a></li>
          <li><a href="">運営会社</a></li>
        </ul>
        <p class="siteFooter__copyrights"><small class="siteFooter__copy">&copy; 2020 Sakuya,Inc.</small></p>
      </div>
</footer>