    <header id="siteHeader">
      <div class="siteHeader__wrapper">
        <div class="siteHeader__content">
          <h1 class="siteHeader__logo">ひとときパス</h1>
          <div class="siteHeader__search">
            <form>
              <div class="siteHeader__searchWrapper">
                <input class="siteHeader__searchInput" type="text" placeholder="何かお探しですか？">
                <button class="siteHeader__searchButton"><img src="assets/icon_search_white.png" alt="検索"></button>
              </div>
            </form>
          </div>
          <div class="siteHeader__spMenu"><a href=""><span></span><span></span><span></span></a></div>
          <div class="siteHeader__spSearch"><a class="open" href=""><i><img src="assets/icon_search_orange.png" alt="検索"></i></a><a class="close" href=""><i><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.356 14.356"><polygon points="14.356 13.421 7.881 7.163 14.133 0.695 13.415 0 7.162 6.468 0.695 0.216 0 0.935 6.467 7.187 0.209 13.661 0.928 14.356 7.186 7.882 13.661 14.14 14.356 13.421"/></svg></i></a></div>
        </div>
        <div class="siteHeader__menu">
          <p class="siteHeader__user"><span class="siteHeader__userName">咲弥</span><span class="siteHeader__userText">さん</span></p>
          <ul class="siteHeader__link">
            <li><a href="">ヘルプ・問い合わせ</a></li>
            <li><a href="">初めての方</a></li>
          </ul>
        </div>
      </div>
      <div class="siteHeader__spSearchMenu">
        <ul class="navSpSearchMenu">
          <li>
            <div class="navSpSearchMenu__item"><a href="">地域から探す</a></div>
            <ul class="navSpSearchMenu__child">
              <li><a href="">北海道</a></li>
              <li><a href="">東北</a></li>
              <li><a href="">北関東</a></li>
              <li><a href="">首都圏</a></li>
              <li><a href="">伊豆・箱根</a></li>
              <li><a href="">北陸</a></li>
              <li><a href="">甲信越</a></li>
              <li><a href="">東海</a></li>
              <li><a href="">近畿</a></li>
              <li><a href="">山陽・山陰</a></li>
              <li><a href="">四国</a></li>
              <li><a href="">九州</a></li>
            </ul>
          </li>
          <li>
            <div class="navSpSearchMenu__item"><a href="">シーンから探す</a></div>
            <ul class="navSpSearchMenu__child">
              <li><a href="">誕生日</a></li>
              <li><a href="">記念日</a></li>
              <li><a href="">プレゼント</a></li>
              <li><a href="">女旅</a></li>
              <li><a href="">男旅</a></li>
              <li><a href="">新婚旅行</a></li>
              <li><a href="">卒業旅行</a></li>
              <li><a href="">初めての旅行デート</a></li>
              <li><a href="">家族旅行</a></li>
              <li><a href="">ペットと旅行</a></li>
              <li><a href="">一人旅</a></li>
              <li><a href="">お仕事</a></li>
            </ul>
          </li>
          <li>
            <div class="navSpSearchMenu__item"><a class="active" href="">こだわりから探す</a></div>
            <ul class="navSpSearchMenu__child" style="display: block;">
              <li><a href="">温泉</a></li>
              <li><a href="">高級宿</a></li>
              <li><a href="">禁煙</a></li>
              <li><a href="">駅近</a></li>
              <li><a href="">コンビニ</a></li>
              <li><a href="">食事が美味しい</a></li>
              <li><a href="">部屋食</a></li>
              <li><a href="">露天風呂</a></li>
              <li><a href="">部屋に露天風呂</a></li>
              <li><a href="">温泉街に近い</a></li>
              <li><a href="">海が見える</a></li>
              <li><a href="">雀卓付き</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </header>