<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品ページ</title>
</head>
<body>
    <%= link_to image_tag('productsample.png', alt:"page image", width: "1000px"), 'home'%>
</body>
</html>